.h1{
    background-color: blue;
    font: bold;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: chartreuse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}